In [1]:
!pip install yfinance python-dotenv psycopg2-binary

Collecting yfinance
  Downloading yfinance-0.2.66-py2.py3-none-any.whl.metadata (6.0 kB)
Collecting python-dotenv
  Downloading python_dotenv-1.2.1-py3-none-any.whl.metadata (25 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.1.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.11/site-packages (from yfinance) (1.24.4)
Requirement already satisfied: requests>=2.31 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: platformdirs>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (3.11.0)
Requirement already satisfied: pytz>=2022.5 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.7-py3-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.3.tar.gz (3.0 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3.0/3.0 MB 9.4 MB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.12.2)
Collecting curl_cffi>=0.7 (from yfinance)
  Downloading curl_cffi-0.13.0-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: protobuf>=3.19.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.24.3)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.8 kB)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in /opt/conda/lib/python3.11/site-packages (from curl_cffi>=0.7->yfinance) (1.16.0)
Collecting certifi>=2024.2.2 (from curl_cffi>=0.7->yfinance)
  Downloading certifi-2025.11.12-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.11/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Downloading yfinance-0.2.66-py2.py3-none-any.whl (123 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 123.4/123.4 kB 1.4 MB/s eta 0:00:00a 0:00:01
Downloading python_dotenv-1.2.1-py3-none-any.whl (21 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 4.2/4.2 MB 6.5 MB/s eta 0:00:00a 0:00:01
Downloading curl_cffi-0.13.0-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 8.3/8.3 MB 18.4 MB/s eta 0:00:00a 0:00:01
Downloading frozendict-2.4.7-py3-none-any.whl (16 kB)
Downloading websockets-15.0.1-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (182 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 182.3/182.3 kB 16.8 MB/s eta 0:00:00
Downloading certifi-2025.11.12-py3-none-any.whl (159 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 159.4/159.4 kB 13.1 MB/s eta 0:00:00
Building wheels for collected packages: multitasking, peewee
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15548 sha256=f7858b59dd782f945932368095913e828dc46e1bbed856f7972be7c773d4a351
  Stored in directory: /home/jovyan/.cache/pip/wheels/42/d6/84/bf57a755f4569494cd00de4bb46ef064874823f4d19c82e960
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.18.3-cp311-cp311-linux_x86_64.whl size=300929 sha256=5349a69641afcdc0e387b927ec5d72db1b18802eb461e6892d6bca6c93f595bf
  Stored in directory: /home/jovyan/.cache/pip/wheels/05/dc/94/4ba26d23cac9aee7481d3dfcc7e99ce2cc5731230ec10f7ec1
Successfully built multitasking peewee
Installing collected packages: peewee, multitasking, websockets, python-dotenv, psycopg2-binary, frozendict, certifi, curl_cffi, yfinance
  Attempting uninstall: certifi
    Found existing installation: certifi 2023.7.22
    Uninstalling certifi-2023.7.22:
      Successfully uninstalled certifi-2023.7.22
Successfully installed certifi-2025.11.12 curl_cffi-0.13.0 frozendict-2.4.7 multitasking-0.0.12 peewee-3.18.3 psycopg2-binary-2.9.11 python-dotenv-1.2.1 websockets-15.0.1 yfinance-0.2.66

In [1]:
import os
from datetime import datetime
import sys

import yfinance as yf
import pandas as pd
from dotenv import load_dotenv
import psycopg2
from psycopg2.extras import execute_values

print("‚úÖ Librer√≠as importadas correctamente")

‚úÖ Librer√≠as importadas correctamente

In [2]:
# Cargar variables de entorno
env_path = "/home/jovyan/work/.env"
if os.path.exists(env_path):
    load_dotenv(env_path)
    print(f"‚úÖ .env cargado desde: {env_path}")
else:
    print("‚ö†Ô∏è  No se encontr√≥ archivo .env. Usando variables del sistema.")

# Leer par√°metros de ingesta
tickers_str = os.getenv("TICKERS", "AAPL,MSFT,GOOG")
start_date = os.getenv("START_DATE", "2018-01-01")
end_date = os.getenv("END_DATE", "2025-01-01")
run_id = os.getenv("RUN_ID", "dev_run_1")
data_provider = os.getenv("DATA_PROVIDER", "yfinance")

pg_host = os.getenv("PG_HOST", "postgres")
pg_port = os.getenv("PG_PORT", "5432")
pg_db = os.getenv("PG_DB", "marketdb")
pg_user = os.getenv("PG_USER", "postgres")
pg_password = os.getenv("PG_PASSWORD", "postgres")
pg_schema_raw = os.getenv("PG_SCHEMA_RAW", "raw")
pg_schema_analytics = os.getenv("PG_SCHEMA_ANALYTICS", "analytics")

tickers = [t.strip() for t in tickers_str.split(",") if t.strip()]

print("üìä Par√°metros de ingesta:")
print(f"   TICKERS: {tickers}")
print(f"   Rango fechas: {start_date} a {end_date}")
print(f"   RUN_ID: {run_id}")
print(f"   Proveedor: {data_provider}")
print(f"   Esquema RAW: {pg_schema_raw}")
print(f"   Esquema ANALYTICS: {pg_schema_analytics}")

‚úÖ .env cargado desde: /home/jovyan/work/.env
üìä Par√°metros de ingesta:
   TICKERS: ['AAPL', 'MSFT', 'GOOG']
   Rango fechas: 2018-01-01 a 2025-01-01
   RUN_ID: dev_run_1
   Proveedor: yfinance
   Esquema RAW: raw
   Esquema ANALYTICS: analytics

In [3]:
def get_connection():
    """
    Crea una conexi√≥n a Postgres usando las variables de entorno.
    """
    try:
        conn = psycopg2.connect(
            host=pg_host,
            port=pg_port,
            dbname=pg_db,
            user=pg_user,
            password=pg_password
        )
        print("‚úÖ Conexi√≥n a PostgreSQL establecida")
        return conn
    except Exception as e:
        print(f"‚ùå Error conectando a PostgreSQL: {str(e)}")
        raise

In [4]:
def create_schemas_and_tables():
    """Crear esquemas y tablas necesarias en PostgreSQL"""
    conn = get_connection()
    cur = conn.cursor()
    
    # Crear esquemas
    cur.execute(f"CREATE SCHEMA IF NOT EXISTS {pg_schema_raw};")
    cur.execute(f"CREATE SCHEMA IF NOT EXISTS {pg_schema_analytics};")
    print(f"‚úÖ Esquemas '{pg_schema_raw}' y '{pg_schema_analytics}' creados/verificados")
    
    # Crear tabla raw.prices_daily
    create_raw_table_sql = f"""
    CREATE TABLE IF NOT EXISTS {pg_schema_raw}.prices_daily (
        date DATE NOT NULL,
        ticker TEXT NOT NULL,
        open DOUBLE PRECISION,
        high DOUBLE PRECISION,
        low DOUBLE PRECISION,
        close DOUBLE PRECISION,
        adj_close DOUBLE PRECISION,
        volume BIGINT,
        run_id TEXT,
        ingested_at_utc TIMESTAMP,
        source_name TEXT,
        PRIMARY KEY (date, ticker)
    );
    """
    cur.execute(create_raw_table_sql)
    print(f"‚úÖ Tabla '{pg_schema_raw}.prices_daily' creada/verificada")
    
    # Crear tabla analytics.daily_features (estructura b√°sica)
    create_analytics_table_sql = f"""
    CREATE TABLE IF NOT EXISTS {pg_schema_analytics}.daily_features (
        date DATE NOT NULL,
        ticker TEXT NOT NULL,
        year INTEGER,
        month INTEGER,
        day_of_week INTEGER,
        open DOUBLE PRECISION,
        close DOUBLE PRECISION,
        high DOUBLE PRECISION,
        low DOUBLE PRECISION,
        volume BIGINT,
        return_close_open DOUBLE PRECISION,
        return_prev_close DOUBLE PRECISION,
        run_id TEXT,
        ingested_at_utc TIMESTAMP,
        PRIMARY KEY (date, ticker)
    );
    """
    cur.execute(create_analytics_table_sql)
    print(f"‚úÖ Tabla '{pg_schema_analytics}.daily_features' creada/verificada")
    
    conn.commit()
    cur.close()
    conn.close()

# Ejecutar creaci√≥n de esquemas y tablas
create_schemas_and_tables()

‚úÖ Conexi√≥n a PostgreSQL establecida
‚úÖ Esquemas 'raw' y 'analytics' creados/verificados
‚úÖ Tabla 'raw.prices_daily' creada/verificada
‚úÖ Tabla 'analytics.daily_features' creada/verificada

In [5]:
print("üì• Descargando datos desde Yahoo Finance...")

ingested_at_utc = datetime.utcnow()
records = []

# Manejar el caso de un solo ticker o m√∫ltiples tickers
if len(tickers) == 1:
    tk = tickers[0]
    print(f"Descargando datos para {tk}...")
    data = yf.download(
        tickers=tk,
        start=start_date,
        end=end_date,
        auto_adjust=False
    )
    data["ticker"] = tk
    data["date"] = data.index
    data["run_id"] = run_id
    data["ingested_at_utc"] = ingested_at_utc
    data["source_name"] = data_provider
    data = data.reset_index(drop=True)
    records.append(data)
else:
    print(f"Descargando datos para {len(tickers)} tickers: {tickers}")
    data = yf.download(
        tickers=tickers,
        start=start_date,
        end=end_date,
        group_by="ticker",
        auto_adjust=False
    )
    
    for tk in tickers:
        if tk in data:
            print(f"Procesando {tk}...")
            df = data[tk].copy()
            df["ticker"] = tk
            df["date"] = df.index
            df["run_id"] = run_id
            df["ingested_at_utc"] = ingested_at_utc
            df["source_name"] = data_provider
            df = df.reset_index(drop=True)
            records.append(df)
        else:
            print(f"‚ö†Ô∏è  No se encontraron datos para {tk}")

if not records:
    raise Exception("‚ùå No se pudieron descargar datos para ning√∫n ticker")

print("‚úÖ Descarga de Yahoo Finance completada")

üì• Descargando datos desde Yahoo Finance...
Descargando datos para 3 tickers: ['AAPL', 'MSFT', 'GOOG']

[*********************100%***********************]  3 of 3 completed

Procesando AAPL...
Procesando MSFT...
Procesando GOOG...
‚úÖ Descarga de Yahoo Finance completada

In [6]:
print("üîÑ Transformando datos a formato 'One Big Table'...")

df_final = pd.concat(records, ignore_index=True)

# Renombrar columnas a snake_case est√°ndar
df_final = df_final.rename(columns={
    "Open": "open",
    "High": "high",
    "Low": "low",
    "Close": "close",
    "Adj Close": "adj_close",
    "Volume": "volume"
})

# Asegurar tipos b√°sicos
df_final["date"] = pd.to_datetime(df_final["date"]).dt.date

print(f"‚úÖ Transformaci√≥n completada: {len(df_final)} registros")
print("\nüìã Muestra de datos transformados:")
df_final.head()

üîÑ Transformando datos a formato 'One Big Table'...
‚úÖ Transformaci√≥n completada: 5283 registros

üìã Muestra de datos transformados:

Price,open,high,low,close,adj_close,volume,ticker,date,run_id,ingested_at_utc,source_name
0,42.540001,43.075001,42.314999,43.064999,40.341892,102223600,AAPL,2018-01-02,dev_run_1,2025-11-30 16:02:44.919523,yfinance
1,43.132500,43.637501,42.990002,43.057499,40.334854,118071600,AAPL,2018-01-03,dev_run_1,2025-11-30 16:02:44.919523,yfinance
2,43.134998,43.367500,43.020000,43.257500,40.522221,89738400,AAPL,2018-01-04,dev_run_1,2025-11-30 16:02:44.919523,yfinance
3,43.360001,43.842499,43.262501,43.750000,40.983585,94640000,AAPL,2018-01-05,dev_run_1,2025-11-30 16:02:44.919523,yfinance
4,43.587502,43.902500,43.482498,43.587502,40.831360,82271200,AAPL,2018-01-08,dev_run_1,2025-11-30 16:02:44.919523,yfinance

In [7]:
def insert_prices_data(df):
    """Insertar datos en PostgreSQL"""
    conn = get_connection()
    cur = conn.cursor()

    insert_sql = f"""
    INSERT INTO {pg_schema_raw}.prices_daily
    (date, ticker, open, high, low, close, adj_close, volume, run_id, ingested_at_utc, source_name)
    VALUES %s
    ON CONFLICT (date, ticker) DO NOTHING;
    """

    # Convertir DataFrame a lista de tuplas
    records = [
        (
            row["date"],
            row["ticker"],
            float(row["open"]) if pd.notnull(row["open"]) else None,
            float(row["high"]) if pd.notnull(row["high"]) else None,
            float(row["low"]) if pd.notnull(row["low"]) else None,
            float(row["close"]) if pd.notnull(row["close"]) else None,
            float(row["adj_close"]) if pd.notnull(row["adj_close"]) else None,
            int(row["volume"]) if pd.notnull(row["volume"]) else None,
            row["run_id"],
            row["ingested_at_utc"],
            row["source_name"],
        )
        for _, row in df.iterrows()
    ]

    print(f"üíæ Insertando {len(records)} registros en {pg_schema_raw}.prices_daily...")
    
    execute_values(cur, insert_sql, records)
    conn.commit()
    
    # Obtener conteo real de inserciones (sin duplicados)
    cur.execute(f"SELECT COUNT(*) FROM {pg_schema_raw}.prices_daily WHERE run_id = %s;", (run_id,))
    inserted_count = cur.fetchone()[0]
    
    cur.close()
    conn.close()
    
    print(f"‚úÖ Inserci√≥n completada: {inserted_count} registros insertados")
    return inserted_count

# Ejecutar inserci√≥n
inserted_count = insert_prices_data(df_final)

‚úÖ Conexi√≥n a PostgreSQL establecida
üíæ Insertando 5283 registros en raw.prices_daily...
‚úÖ Inserci√≥n completada: 5283 registros insertados

In [8]:
def verify_and_show_results():
    """Verificar y mostrar resultados de la ingesta"""
    conn = get_connection()
    
    # Resumen general
    query_summary = f"""
    SELECT 
        COUNT(*) AS n_rows,
        MIN(date) AS min_date,
        MAX(date) AS max_date,
        COUNT(DISTINCT ticker) AS n_tickers,
        COUNT(DISTINCT date) AS n_dias_bursatiles
    FROM {pg_schema_raw}.prices_daily;
    """
    
    summary = pd.read_sql(query_summary, conn)
    
    print("\n" + "="*50)
    print("üìà RESUMEN FINAL DE INGESTA")
    print("="*50)
    print(f"   ‚Ä¢ Total registros en BD: {summary['n_rows'].iloc[0]}")
    print(f"   ‚Ä¢ Fecha m√≠nima: {summary['min_date'].iloc[0]}")
    print(f"   ‚Ä¢ Fecha m√°xima: {summary['max_date'].iloc[0]}")
    print(f"   ‚Ä¢ N√∫mero de tickers: {summary['n_tickers'].iloc[0]}")
    print(f"   ‚Ä¢ D√≠as burs√°tiles √∫nicos: {summary['n_dias_bursatiles'].iloc[0]}")
    
    # Resumen por ticker
    query_by_ticker = f"""
    SELECT 
        ticker,
        COUNT(*) AS n_registros,
        MIN(date) AS primera_fecha,
        MAX(date) AS ultima_fecha
    FROM {pg_schema_raw}.prices_daily
    GROUP BY ticker
    ORDER BY ticker;
    """
    
    by_ticker = pd.read_sql(query_by_ticker, conn)
    
    print(f"\nüìä DETALLE POR TICKER:")
    for _, row in by_ticker.iterrows():
        print(f"   ‚Ä¢ {row['ticker']}: {row['n_registros']} registros ({row['primera_fecha']} a {row['ultima_fecha']})")
    
    # Muestra de los √∫ltimos registros
    query_sample = f"""
    SELECT *
    FROM {pg_schema_raw}.prices_daily
    ORDER BY date DESC, ticker
    LIMIT 10;
    """
    
    sample = pd.read_sql(query_sample, conn)
    
    print(f"\nüîç MUESTRA DE REGISTROS M√ÅS RECIENTES:")
    display(sample)
    
    conn.close()
    
    return summary, by_ticker

# Ejecutar verificaci√≥n
summary, by_ticker = verify_and_show_results()

‚úÖ Conexi√≥n a PostgreSQL establecida

==================================================
üìà RESUMEN FINAL DE INGESTA
==================================================
   ‚Ä¢ Total registros en BD: 5283
   ‚Ä¢ Fecha m√≠nima: 2018-01-02
   ‚Ä¢ Fecha m√°xima: 2024-12-31
   ‚Ä¢ N√∫mero de tickers: 3
   ‚Ä¢ D√≠as burs√°tiles √∫nicos: 1761

üìä DETALLE POR TICKER:
   ‚Ä¢ AAPL: 1761 registros (2018-01-02 a 2024-12-31)
   ‚Ä¢ GOOG: 1761 registros (2018-01-02 a 2024-12-31)
   ‚Ä¢ MSFT: 1761 registros (2018-01-02 a 2024-12-31)

üîç MUESTRA DE REGISTROS M√ÅS RECIENTES:

/tmp/ipykernel_124/3922237902.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  summary = pd.read_sql(query_summary, conn)
/tmp/ipykernel_124/3922237902.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  by_ticker = pd.read_sql(query_by_ticker, conn)
/tmp/ipykernel_124/3922237902.py:53: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sample = pd.read_sql(query_sample, conn)

,date,ticker,open,high,low,close,adj_close,volume,run_id,ingested_at_utc,source_name
0,2024-12-31,AAPL,252.440002,253.279999,249.429993,250.419998,249.292511,39480700,dev_run_1,2025-11-29 11:17:38.502389,yfinance
1,2024-12-31,GOOG,192.445007,193.250000,189.580002,190.440002,189.825241,14355200,dev_run_1,2025-11-29 11:17:38.502389,yfinance
2,2024-12-31,MSFT,426.100006,426.730011,420.660004,421.500000,418.413452,13246500,dev_run_1,2025-11-29 11:17:38.502389,yfinance
3,2024-12-30,AAPL,252.229996,253.500000,250.750000,252.199997,251.064484,35557500,dev_run_1,2025-11-29 11:17:38.502389,yfinance
4,2024-12-30,GOOG,190.865005,193.779999,190.360001,192.690002,192.067993,12209500,dev_run_1,2025-11-29 11:17:38.502389,yfinance
5,2024-12-30,MSFT,426.059998,427.549988,421.899994,424.829987,421.719086,13158700,dev_run_1,2025-11-29 11:17:38.502389,yfinance
6,2024-12-27,AAPL,257.829987,258.700012,253.059998,255.589996,254.439224,42355300,dev_run_1,2025-11-29 11:17:38.502389,yfinance
7,2024-12-27,GOOG,196.470001,196.800003,191.972000,194.039993,193.413620,14693000,dev_run_1,2025-11-29 11:17:38.502389,yfinance
8,2024-12-27,MSFT,434.600006,435.220001,426.350006,430.529999,427.377319,18117700,dev_run_1,2025-11-29 11:17:38.502389,yfinance
9,2024-12-26,AAPL,258.190002,260.100006,257.630005,259.019989,257.853790,27237100,dev_run_1,2025-11-29 11:17:38.502389,yfinance

In [9]:
def check_temporal_coverage():
    """Verificar cobertura temporal y d√≠as sin datos"""
    conn = get_connection()
    
    # Verificar d√≠as burs√°tiles esperados vs reales
    query_coverage = f"""
    WITH expected_dates AS (
        SELECT DISTINCT date
        FROM {pg_schema_raw}.prices_daily
        WHERE ticker = %s
    ),
    all_trading_days AS (
        SELECT generate_series(
            MIN(date)::timestamp, 
            MAX(date)::timestamp, 
            '1 day'::interval
        )::date as trading_date
        FROM {pg_schema_raw}.prices_daily
        WHERE ticker = %s
    ),
    missing_days AS (
        SELECT trading_date
        FROM all_trading_days
        WHERE EXTRACT(DOW FROM trading_date) BETWEEN 1 AND 5  -- Lunes a Viernes
        AND trading_date NOT IN (SELECT date FROM expected_dates)
    )
    SELECT 
        COUNT(*) as total_trading_days,
        (SELECT COUNT(*) FROM expected_dates) as available_days,
        (SELECT COUNT(*) FROM missing_days) as missing_days_count,
        (SELECT ARRAY_AGG(trading_date) FROM missing_days LIMIT 10) as sample_missing_days
    FROM all_trading_days
    WHERE EXTRACT(DOW FROM trading_date) BETWEEN 1 AND 5;
    """
    
    print("\nüìÖ VERIFICACI√ìN DE COBERTURA TEMPORAL:")
    
    for ticker in tickers:
        cur = conn.cursor()
        cur.execute(query_coverage, (ticker, ticker))
        result = cur.fetchone()
        cur.close()
        
        if result:
            total_days, available_days, missing_count, sample_missing = result
            coverage_pct = (available_days / total_days) * 100 if total_days > 0 else 0
            
            print(f"\n   {ticker}:")
            print(f"     ‚Ä¢ D√≠as burs√°tiles totales: {total_days}")
            print(f"     ‚Ä¢ D√≠as con datos: {available_days}")
            print(f"     ‚Ä¢ D√≠as sin datos: {missing_count}")
            print(f"     ‚Ä¢ Cobertura: {coverage_pct:.2f}%")
            
            if missing_count > 0:
                print(f"     ‚Ä¢ Ejemplo d√≠as faltantes: {sample_missing[:5] if sample_missing else 'N/A'}")
    
    conn.close()

# Ejecutar verificaci√≥n de cobertura
check_temporal_coverage()

‚úÖ Conexi√≥n a PostgreSQL establecida

üìÖ VERIFICACI√ìN DE COBERTURA TEMPORAL:

   AAPL:
     ‚Ä¢ D√≠as burs√°tiles totales: 1826
     ‚Ä¢ D√≠as con datos: 1761
     ‚Ä¢ D√≠as sin datos: 65
     ‚Ä¢ Cobertura: 96.44%
     ‚Ä¢ Ejemplo d√≠as faltantes: [datetime.date(2018, 1, 15), datetime.date(2018, 2, 19), datetime.date(2018, 3, 30), datetime.date(2018, 5, 28), datetime.date(2018, 7, 4)]

   MSFT:
     ‚Ä¢ D√≠as burs√°tiles totales: 1826
     ‚Ä¢ D√≠as con datos: 1761
     ‚Ä¢ D√≠as sin datos: 65
     ‚Ä¢ Cobertura: 96.44%
     ‚Ä¢ Ejemplo d√≠as faltantes: [datetime.date(2018, 1, 15), datetime.date(2018, 2, 19), datetime.date(2018, 3, 30), datetime.date(2018, 5, 28), datetime.date(2018, 7, 4)]

   GOOG:
     ‚Ä¢ D√≠as burs√°tiles totales: 1826
     ‚Ä¢ D√≠as con datos: 1761
     ‚Ä¢ D√≠as sin datos: 65
     ‚Ä¢ Cobertura: 96.44%
     ‚Ä¢ Ejemplo d√≠as faltantes: [datetime.date(2018, 1, 15), datetime.date(2018, 2, 19), datetime.date(2018, 3, 30), datetime.date(2018, 5, 28), datetime.date(2018, 7, 4)]

In [10]:
print("\n" + "="*60)
print("üéâ INGESTA COMPLETADA EXITOSAMENTE")
print("="*60)
print(f"‚úÖ Datos ingresados en: {pg_schema_raw}.prices_daily")
print(f"‚úÖ Total registros procesados: {len(df_final)}")
print(f"‚úÖ Registros √∫nicos insertados: {inserted_count}")
print(f"‚úÖ Tickers procesados: {tickers}")
print(f"‚úÖ Per√≠odo cubierto: {summary['min_date'].iloc[0]} a {summary['max_date'].iloc[0]}")
print(f"‚úÖ RUN_ID: {run_id}")
print("\nüìù Pr√≥ximos pasos:")
print("   1. Ejecutar feature-builder para crear analytics.daily_features")
print("   2. Verificar datos en PostgreSQL con: SELECT * FROM raw.prices_daily LIMIT 10;")
print("="*60)

============================================================
üéâ INGESTA COMPLETADA EXITOSAMENTE
============================================================
‚úÖ Datos ingresados en: raw.prices_daily
‚úÖ Total registros procesados: 5283
‚úÖ Registros √∫nicos insertados: 5283
‚úÖ Tickers procesados: ['AAPL', 'MSFT', 'GOOG']
‚úÖ Per√≠odo cubierto: 2018-01-02 a 2024-12-31
‚úÖ RUN_ID: dev_run_1

üìù Pr√≥ximos pasos:
   1. Ejecutar feature-builder para crear analytics.daily_features
   2. Verificar datos en PostgreSQL con: SELECT * FROM raw.prices_daily LIMIT 10;
============================================================

In [11]:
conn = get_connection()
df_summary_analytics = pd.read_sql("""
    SELECT
        COUNT(*) AS n_rows,
        MIN(date) AS min_date,
        MAX(date) AS max_date,
        COUNT(DISTINCT ticker) AS n_tickers
    FROM analytics.daily_features;
""", conn)

‚úÖ Conexi√≥n a PostgreSQL establecida

/tmp/ipykernel_124/2836786316.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_summary_analytics = pd.read_sql("""

In [12]:
df_sample_analytics = pd.read_sql("""
    SELECT *
    FROM analytics.daily_features
    WHERE ticker = 'AAPL'
    ORDER BY date DESC
    LIMIT 10;
""", conn)

conn.close()
df_sample_analytics

/tmp/ipykernel_124/134320247.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sample_analytics = pd.read_sql("""

,date,ticker,year,month,day_of_week,open,high,low,close,volume,return_close_open,return_prev_close,volatility_5d,run_id,ingested_at_utc
0,2024-12-31,AAPL,2024,12,1,252.440002,253.279999,249.429993,250.419998,39480700,-0.008002,-0.007058,0.010856,run_full_aapl_1,2025-11-30 14:09:14.019794
1,2024-12-30,AAPL,2024,12,0,252.229996,253.500000,250.750000,252.199997,35557500,-0.000119,-0.013263,0.011035,run_full_aapl_1,2025-11-30 14:09:14.019794
2,2024-12-27,AAPL,2024,12,4,257.829987,258.700012,253.059998,255.589996,42355300,-0.008688,-0.013242,0.011959,run_full_aapl_1,2025-11-30 14:09:14.019794
3,2024-12-26,AAPL,2024,12,3,258.190002,260.100006,257.630005,259.019989,27237100,0.003215,0.003176,0.006617,run_full_aapl_1,2025-11-30 14:09:14.019794
4,2024-12-24,AAPL,2024,12,1,255.490005,258.209991,255.289993,258.200012,23234700,0.010607,0.011478,0.015260,run_full_aapl_1,2025-11-30 14:09:14.019794
5,2024-12-23,AAPL,2024,12,0,254.770004,255.649994,253.449997,255.270004,40858800,0.001963,0.003065,0.015057,run_full_aapl_1,2025-11-30 14:09:14.019794
6,2024-12-20,AAPL,2024,12,4,248.039993,255.000000,245.690002,254.490005,147495300,0.026004,0.018816,0.015495,run_full_aapl_1,2025-11-30 14:09:14.019794
7,2024-12-19,AAPL,2024,12,3,247.500000,252.000000,247.089996,249.789993,60882300,0.009252,0.007015,0.013497,run_full_aapl_1,2025-11-30 14:09:14.019794
8,2024-12-18,AAPL,2024,12,2,252.160004,254.279999,247.740005,248.050003,56774100,-0.016299,-0.021422,0.013398,run_full_aapl_1,2025-11-30 14:09:14.019794
9,2024-12-17,AAPL,2024,12,1,250.080002,253.830002,249.779999,253.479996,51356400,0.013596,0.009720,0.006884,run_full_aapl_1,2025-11-30 14:09:14.019794

NameError: name 'X_test' is not defined